.header{
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    padding-left: 16px;
    border-bottom:1px solid #D9FFF5;
    background-color: white;

}
@media (min-width: 784px) and (max-width: 1120.99px){
    .header{
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (min-width: 1121px) {
    .header{
        display:none;
    }
}

.header__item{
    margin: 0;
    margin-right: 16px;
}
.header__item--left-line{
    margin-left: 20px;
}
@media (min-width: 784px) and (max-width: 1120.99px){
    .header__item--left-line{
        margin-left: 0;
    }
}
.header__item--left-line::before{ 
    content: " ";
    background: #EAEAEA;
    width: 2px;
    height: 32px;
    position: absolute;
    transform: translate(-22px,4px);
    }

.header__space{
    flex-grow: 1;
}    
.header__additional-buttons{
    display: none;
}
@media (min-width: 784px) and (max-width: 1120.99px){
    .header__additional-buttons{
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
    }
}
