@import "/css/html-on-border-box.css";
@import "/font/TTLakes/stylesheet.css";
@import "/css/pixel-perfect-image.css";

.wrap{
    width:320px;
    margin: 0 auto;
    background-color: white;
}

 body{
    margin: 0 !important;    
} 

/* .wrap:hover >  .pixel-perfect-image {
    z-index: -1;
    opacity: 0.7;
  } */

.header{
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom:1px solid #D9FFF5  ;

}
.header__item{
    margin: 0 5px;
}
.header__item--change-margin{
    margin-right: 0;
}
.header__space{
    flex-grow: 1;
}

.button {
    border: none;
    background: none;    
}

.button--left-line::before{ 
    content: " ";
    background: #EAEAEA;
    width: 2px;
    height: 32px;
    position: absolute;
    transform: translate(-20px,4px);
    }

.main{
    background-color: #F8F8F8;
}

.services{
    display: flex; 
    position: relative;  
}

.services__title{
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'TT Lakes';
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.services__title::before{
    content: " ";
    width: 4px;
    height: 40px;
    float: left;
    margin-right: 12px;
    background: #41F6D7;
    border-radius: 0 20px 20px 0;
}

.menu__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.menu__list--height-top-menu{
    height: 88px;
}
.menu__item{
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.2px;

    color: #7E7E82;

    background: inherit;

    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid #F8F8F8;
    white-space: nowrap;
    padding-left: 3px;
    margin-left: 16px;

}

.menu__item--active{
    border: 2px solid #B8FFEC;
    background: #FFFFFF; 
    padding: 6px 14px;
}

.menu__link{
    text-decoration: none;
    color: #7E7E82;
}

.article{
    font-family: 'TT Lakes';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.article__text{
    margin: 24px 16px 0 16px;
}

.article__text--hidden{
    display: none;
}

.article__more{
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.2px;

    color: #1B1C21;
  
    margin: 16px auto auto 24px;
}

.article__more--with-icon{
    padding-left: 24px;
    background-image: url("../img/icon.png");
    background-position: left center;
    background-size: 8px 11px;
    background-repeat: no-repeat;
  }
  .article_img{
      margin-top: 16px;
  } 
  